@import url("https://fonts.googleapis.com/css?family=Spicy+Rice");

body {
  margin: 20px auto;
  max-width: 1000px;
  font-family: 'Spicy Rice', cursive;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
}

a {
color: #FF6B6B;
text-decoration: none;
}

h1 {
  padding: 20px 0px 10px 0px;
}

body{
  background: url(Media/cs1.5.jpg) no-repeat center fixed;
  background-size: cover;
}


img {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  position: center;
}

video {
  margin-top: 50px;
  position: center;
}

audio {
  margin-left: auto;
  margin-right: auto;
  position: center;
}

.snake-vid {
  background-color: #96add3;
  padding: 50px;
}

.dropbtn {
    background-color: #738700;
    font-family: 'Spicy Rice', cursive;
    color: #2B0300;
    padding: 18px;
    font-size: 18px;
    border: none;
    min-width: 200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #738700;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2B0300;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #2E2000;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #153B00z;}
