@import url("https://fonts.googleapis.com/css?family=Spicy+Rice");

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Spicy Rice', cursive;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
}

body {
  background-image: image(Media/astronomersw.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
color: #FF6B6B;
text-decoration: none;
}

h1 {
  padding: 20px 0px 10px 0px;
}

img {
  margin: 50px auto;
  width: 100%;
}
