@import url("https://fonts.googleapis.com/css?family=Spicy+Rice");

body {
  margin: 20px auto;
  max-width: 1000px;
  font-family: 'Spicy Rice', cursive;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
}

a {
color: #FF6B6B;
text-decoration: none;
}

h1 {
  font-family: 'Times New Roman', cursive;
  font-size: 70px;
  color: #BD0000;
}

.container {
    position: relative;
}

.center {
    color: #690000;
    position: inherit;
    margin-bottom: none;
    font-size: 24px;
    border: none;
}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

.bottomleft {
    position: absolute;
    margin-top: 20%;
    bottom: 8px;
    left: 12px;
    font-size: 10px;
}

.bottomright {
    position: absolute;
    margin:auto;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    width: 50%;
    text-align: center;
}


img {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

video {
  margin-right: auto;
  margin-top: auto;
}

audio {
  margin: auto;
  margin-left: 20%;
  margin-right: auto;
  position: absolute;
}

.snake-vid {
  background-color: #96add3;
  padding: 50px;
}

.dropbtn {
    background-color: #738700;
    font-family: 'Spicy Rice', cursive;
    color: #2B0300;
    padding: 18px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    min-width: 200px;
}

.dropdown {
    margin-left: 5%;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #738700;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2B0300;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #2E2000;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #153B00z;}
